[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = git@github.com:nekorro/nvim.git
[submodule "colorscheme/.config/colorscheme"]
	path = colorscheme/.config/colorscheme
	url = git@github.com:nekorro/kanagawa-paper.nvim.git
